<h1>Show Movie</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @movie.title %>
  </li>

  <li>
    <strong>Rental rate:</strong>
    <%= @movie.rental_rate %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.movie_path(@conn, :edit, @movie) %></span>
<span><%= link "Back", to: Routes.movie_path(@conn, :index) %></span>
